.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(152, 40, 40, 0.292);
    border-radius: 1.5em;
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 18rem;
    height: 22rem;
    box-shadow: 10px 10px 10px 10px rgba(28, 36, 183, 0.573);
    background-image: linear-gradient(to bottom, #0000000f, #1cf0f068);
    color:rgba(240, 255, 255, 0.326);
    border: 5rem;
}

 .card:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

.cardImg {
    display: flex;
    width: 100%;
    height: 65%;
    border: 5px outset rgb(100, 93, 93);
    border-color:olivedrab;
}

 .name {
    display: flex;
    align-items: center;
    margin: 0%;
    padding: 0px;
    font-weight: bold;
    color: bisque;
}

.button {
    cursor: pointer;
    border-radius: 1rem;
    color: rgb(238, 240, 243);
    background-color: rgb(79, 79, 184);
    font-weight: bold;
    }
    
    .button:hover {
        color: rgb(234, 14, 14);
        padding: 0.1rem;
        transition: 0.5s;
        background-color: rgba(78, 78, 149, 0.685);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }